/*
Kleuren
*/
$kleur_rood: #C0392B;
$kleur_blauw: #00B4DB;
$kleur_groen: #27AE60; //CSS
$box-shadow: 2px 9px 12px 1px rgba(0, 0, 0, 0.14);
/*
Hoofdelementen
*/
* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding-bottom: 10vh;
}

button {
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
  // padding-bottom: 10vh;
}
/*
Titels en tekst
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.8em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  line-height: 1.2em;
}

h5 {
  font-size: 1.5em;
  line-height: 1.2em;
}

p {
  font-size: 1.4em;
  line-height: 1.65em;
}

a {
  text-decoration: none;
  color: black;
}
/*
Welkomspagina
*/
.welkom {
  padding: 2.5vh 20px;
  height: 100vh;
  margin-bottom: 0;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 50px;
    border: 1px solid #d31027;
    min-height: 95vh;

    .logo {
      margin: 0 0 50px;
      text-align: center;

      img {
        max-height: 250px;
      }
    }

    h1 {
      text-align: center;
    }
  }
}
//Introductie-scherm

#header_intro {
  height: 10vh;
  background: linear-gradient(to right, #d31027, #ea384d);
}

.introductie {
  padding-bottom: 0;

  .content-inner {
    padding: 5vh 20px;

    #slide-outer > div {
      height: 350px;
      position: relative;
    }
  }

  .logo {
    margin: 0 0 50px;
    text-align: center;

    img {
      max-height: 100px;
    }
  }
}
//Tabs

.onzichtbaar {
  display: none;
}

.zichtbaar {
  display: block;
}
//Header

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  padding: 15px 20px;

  h1 {
    margin: 0;
    text-align: center;
  }
}
//Header $kleur_groen
#header-groen {
  background: linear-gradient(to right, #00841A, #378B29);
}

#header-blauw {
  background: linear-gradient(to left, #0083B0, #00B4DB);
}

#header-rood {
  background: linear-gradient(to right, #d31027, #ea384d);
}
//Footer
footer {
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  bottom: 0;
  display: flex;
  align-items: center;

  .footer-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      div {
        text-align: center;
      }

      p {
        color: white;
      }
    }
  }

  li:first-child {
    margin-top: 5px;
  }

  img {
    max-height: 22px;
  }
}

#footer-blauw {
  background: linear-gradient(to right, #0083B0, #00B4DB);
}

#footer-groen {
  background: linear-gradient(to right, #00841A, #378B29);
}

#footer-rood {
  background: linear-gradient(to right, #d31027, #ea384d);
}

#active-tab-footer {
  margin-top: 5px;
}

//Met footer
.content-with-nav {
}

//Terug-knop

#back-arrow {
  max-height: 15px;
}

.content-inner {
  padding: 2.5vh 20px;
  border-radius: 20px;
  // height: 40vh;
  p {
    display: block;
  }
}

.btn-bottom {
  padding: 0 20px;
  width: 100%;
  bottom: calc(10vh + 10px);
  position: absolute;

  .btn-bottom-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;

    a {
      text-decoration: none;
      color: black;
    }

    .termen-btn {
      // width: 50%;
      border-radius: 20px;
      padding: 20px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: 1px;
      border-style: solid;
      text-align: center;
    }
  }

  .termen-btn-full {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 5px;
  }
}
/*
Vorige/volgende knoppen
*/

.nextprev {
  // margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;

  .btn-next-prev {
    display: block;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 1.1em;
    width: 100px;
    text-align: center;
    background-color: white;
  }
}

#btn-blue {
  // background: linear-gradient(to right, #0083B0, #00B4DB);
  border: 1px solid #0083B0;
  // color: #0083B0;
}

#btn-red {
  border: 1px solid #d31027;
  // color: #d31027;
  // background: linear-gradient(to bottom, #ed213a, #93291e);
}

#btn-green {
  // background: linear-gradient(to right, #00841A, #378B29);
  border: 1px solid #00841A;
  // color: #00841A;
}

/*
Vergrendelde blokken
*/

.locked {
  pointer-events: none;

  .termen-btn,
  .termen-btn-full {
    background: url("../afbeeldingen/lock.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;

    h2 {
      color: black;
    }
  }
}

.warning:before {
  content: "Doorloop eerst de stappen hierboven.";
  display: flex;
  justify-content: center;
  align-items: center;
  top: -35px;
  left: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
  background: rgba(0,0,0,0.9);
  padding: 15px;
  opacity: 1;
  width: 100px;
  height: 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-family: inherit;
  font-size: 11px;
  line-height: 1.6em;
  // animation: verdwijn 1s ease 3s forwards;
}
@keyframes verdwijn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#slide-outer > div {
  height: 35vh;
  position: relative;
}

#slide-outer div p:first-child {
  background: white;
  border-radius: 20px;
  box-shadow: $box-shadow;
  padding: 15px;
  height: calc(100% - 55px);
  overflow-y: scroll;
}
/*
Pagina tips
*/

.tips {
  .content-inner {
    height: 70vh;

    #slide-outer > div {
      height: 65vh;
      position: relative;
    }

    img {
      max-height: 200px;
      margin: 0 auto 20px;
      display: block;
    }
  }
}
/*
Pagina termen-btn
*/

.termen {
  ul {
    li:nth-child(even) {
      background: white;
    }

    li:nth-child(odd) {
      background: rgba(0,0,0,0.05);
    }

    li {
      padding: 20px;
      display: grid;
      grid-template-columns: 20% 70%;
      grid-column-gap: 10%;
      // justify-content: space-between;
      h3 {
        padding-right: 20px;
      }
    }
  }

  .content-inner {
    height: auto;
  }
}

.termen-info {
  margin-bottom: 20px;

  p {
    background: white;
    border-radius: 20px;
    box-shadow: $box-shadow;
    padding: 15px;
    height: calc(100% - 55px);
    overflow-y: scroll;
  }
}

#information-icon {
  max-height: 25px;
  margin-bottom: 10px;
  display: block;
}
/*
Pagina voeding
*/
.voeding {
  .btn-bottom {
    a {
      border-color: #378B29;
    }
  }
}
/*
Pagina basis
*/
.basis {
  .btn-bottom {
    a {
      border-color: #0083B0;
    }
  }
}

.oefeningen {
  .btn-bottom {
    a {
      border-color: #d31027;
    }
  }
}
/*
Pagina voedingsmiddelen
*/
.voeding_extra {
  .collapse {
    p {
      padding: 20px;
      border: 1px solid lightgray;
    }
  }
}

.collapse {
  li {
    padding: 5px 0;

    .collapse-heading {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-bottom: 10px;
      padding: 50px 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      z-index: 1;

      h3 {
        color: white;
        z-index: 2;
      }

      :after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        background-size: cover;
        z-index: -1;
      }
    }

    .collapse-content {
      display: none;
      overflow: hidden;
      margin-bottom: 20px;

      ul {
        padding: 20px;
        border: 1px solid lightgray;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    img {
      max-height: 25px;
      z-index: 2;
    }
  }
}

.collapsible-active {
  img {
    transform: rotate(-90deg);
  }
}

#chicken-bg {
  background-image: url("../afbeeldingen/chicken-bg.jpg");
}

#pasta-bg {
  background-image: url("../afbeeldingen/pasta-bg.jpeg");
}

#avocado-bg {
  background-image: url("../afbeeldingen/fats-bg.jpeg");
}
/*
Pagina oefeningen per spiergroep
*/
.oefeningen-per-spiergroep {
  .oefeningen-lijst {
    li {
      display: grid;
      grid-template-columns: 40% 40% 20%;
      align-items: center;
      padding: 20px;

      img {
        max-height: 100px;
        text-align: left;
      }

      h3 {
        text-align: left;
      }

      #forward-btn {
        max-height: 25px;
        justify-self: end;
      }
    }
  }
}

.overzicht-oefeningen {
  .oefeningen-lijst {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      border-bottom: 2px solid #d31027;

      #forward-btn {
        max-height: 25px;
      }

      h3 {
        margin-right: 20px;
      }
    }

    #last-exercise {
      border: none;
    }
  }
}

#spier-img {
  max-height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
Oefeningen detailpagina
*/

.oefening-detail {
  .video-container {
    margin-bottom: 20px;
  }

  .content-inner {
    h3 {
      margin-bottom: 10px;
    }

  .focus-spier {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  .primaire-spier {
    border: 1px solid #d31027;
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 1.1em;
    width: 100px;
    text-align: center;
    background-color: white;
    margin-right: 20px;
  }

  .secundaire-spier {
    border: 1px solid #d31027;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 1em;
    width: 80px;
    text-align: center;
    background-color: white;
  }

  ol {
    list-style-type: none;
    counter-reset: my-awesome-counter;
    padding-left: 40px;
    margin-bottom: 30px;

    li {
      padding: 10px 0;
      counter-increment: my-awesome-counter;
      color: black;
      position: relative;
    }

    li::before {
      content: counter(my-awesome-counter);
      --size: 32px;
      left: calc(-1 * var(--size) - 10px);
      line-height: var(--size);
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background: #d31027;
      font-weight: bold;
      position: absolute;
      color: white;
      font-size: 1.3em;
      text-align: center;
    }
  }
}
}
